
body {
    font-family: 'Arial', sans-serif;
    background-color: #e24b4b;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: bisque;
    color: rgb(110, 192, 161);
    padding: 1em;
    font-size: 1.5em;
}

nav {
    background-color: bisque;
    color: #fff;
    padding: 0.5em;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 1em;
    font-size: 1.2em;
}

section {
    padding: 2em;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 1em;
}

p {
    font-size: 1.2em;
    line-height: 1.6em;
    color: #333;
}

footer {
    background-color: bisque;
    color: #fff;
    padding: 0.5em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
